
body {
	background-color: #0F0F0F;
	font-family: helvetica, arial, sans-serif;
	margin: 0;
	padding: 0;
	text-align: center;
	font-size: 24px;
	
}


img {
	max-width: 100%;
	height: auto;
}
main {
	height: 100%;
	display: flex;
	justify-content: center;
    align-items: center;
}



h4{
	
padding-top: 0.5em;
color: #00C322;
font-size: 1.5em;
font-weight: 700;
	
}

p{
	
padding-top: 5em;

}

p2{
	
padding: 1em;

}

h2:hover{
	
color: #1F1F1F;
cursor: pointer;

}





h3{
font-size: 0.7em;
color:#FFFFFF;

}

video{
	
width: 700px;
height: auto;
vertical-align: middle;
margin-top: 10%;


}

a:link {
  color: black;
  background-color: transparent;
  text-decoration: none;
}



a:hover {
  color: green;
  
  
}

a:active {
  color: olivedrab;
  background-color: transparent;
  
}

.menubutton {
	
width: 50px;
height: 50px;
background-color: #FFFFFF;
margin-top: 1em;
right: 3em;
position: absolute;
border-radius: 100px;
align-content: center;
text-align: center;
z-index: 1;
}


.title{
	

position: absolute;
left: 0px;
bottom: 0px;
margin-left: 3em;
color: #FFFFFF;
z-index: 2;

}	
	
	

.headarea{
	
position: relative;
margin-top: 1em;
}

.head{
	
margin-top: 5em;

	
}



.questionmark{
	
align-content: center;
top: 10px;
right: 19px;
position: absolute;
font-weight: 700;
text-align: center;
z-index: 1;

}

.questionmark:hover{
	
opacity: 0.5;
cursor: pointer;
}


.questionmarl:active{
transform: rotate(45deg);

}




.depression{
	

position: absolute;
color: #FFFFFF;
font-size: 1.5em;
top: 3em;
left: 3.3em;

}

.Anxiety {
position: absolute;
color: #FFFFFF;
font-size: 1.5em;
top: 3em;
left: 6em;
	
}

.PTSD{

position: absolute;
color: #FFFFFF;
font-size: 1.5em;
top: 4em;
left: 2em;
	
}

.OCD {

	position: absolute;
color: #FFFFFF;
font-size: 1.5em;
top: 2.5em;
left: 1.5em;	
	
}


.bg-modal {

	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.7);
	position: absolute;
	top: 0;
    justify-content: center;
	align-items: center;
	display: none;
	
	
	
}

.modal-content {
	
width: 1000px;
height: 600px;
background-color: #FFFFFF;
border-radius: 4px;
position: relative;
align-content: center;
z-index: 3;



}


.bg-modal2 {

	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.7);
	position: absolute;
	top: 0;
    justify-content: center;
	align-items: center;
	display: none;
	
	
	
}

.modal-content2 {
	
width: 1000px;
height: 600px;
background-color: #FFFFFF;
border-radius: 4px;
position: relative;
z-index: 3;
}



.bg-modal3 {

	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.7);
	position: absolute;
	top: 0;
    justify-content: center;
	align-items: center;
	display: none;
	
	
	
}

.modal-content3 {
	
width: 1000px;
height: 600px;
background-color: #FFFFFF;
border-radius: 4px;
position: relative;
z-index: 3;
}

.bg-modal4 {

	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.7);
	position: absolute;
	top: 0;
    justify-content: center;
	align-items: center;
	display: none;
	
	
	
}

.modal-content4 {
	
width: 1000px;
height: 600px;
background-color: #FFFFFF;
border-radius: 4px;
position: relative;
z-index: 3;	

}


.bg-modal5 {

	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.7);
	position: absolute;
	top: 0;
    justify-content: center;
	align-items: center;
	display: none;
	
	
	
}

.modal-content5 {
	
width: 1000px;
height: 600px;
background-color: #FFFFFF;
border-radius: 4px;
position: relative;
align-content: center;
vertical-align: middle;
display: inline-block;
z-index: 3;


}



.close{
	
position: absolute;
top:0;
right: 14px;
font-size: 50px;
transform: rotate(45deg);
cursor: pointer;
}

.close2{
	
position: absolute;
top:0;
right: 14px;
font-size: 50px;
transform: rotate(45deg);
cursor: pointer;
}

.close4{
	
position: absolute;
top:0;
right: 14px;
font-size: 50px;
transform: rotate(45deg);
cursor: pointer;
}

.close3{
	
position: absolute;
top:0;
right: 14px;
font-size: 50px;
transform: rotate(45deg);
cursor: pointer;
}

.close5{
	
position: absolute;
top:0;
right: 14px;
font-size: 50px;
transform: rotate(45deg);
cursor: pointer;
}

.close2:hover{
opacity: 0.5;
}

.close3:hover{
opacity: 0.5;

}

.close:hover{
	
opacity: 0.5;

}

.close4:hover{
	
opacity: 0.5;

}

.close5:hover{
	
opacity: 0.5;

}



@media(max-width: 600px){
	

	
	.head{
		
		width: 400px;
		height: 400px;
		
	}	
	
	.headarea{
		
	top: -5em;
	}	
	
	
	.depression{
		
	font-size: 1.2em;
	left: 2.7em;
	}
	
	.Anxiety{
		
	font-size: 1.1em;
	left: 5em;
	top: 4em;
	}
	
	.OCD{
		
	font-size: 1.2em;
	left: 1.2em;
	top: 2.5em;
	}
	
	.PTSD{
		
	font-size: 1.2em;
	left: 1.2em;
	top: 4em;
	}
	

.modal-content,.modal-content2,.modal-content3,.modal-content4{
	
width: 500px;
height: 400px;
background-color: #FFFFFF;
border-radius: 4px;
position: relative;
align-content: center;
z-index: 3;

		
	

}	
	
	
	.Ribbon{
		
	visibility: hidden;
	}	
	
	video {
	width: 400px;
height: auto;
vertical-align: middle;
margin-top: 20%;	
	
	}	
	

	
}
	



